@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$stash-away-primary: (
  50: #e1e5e8,
  100: #b5bdc6,
  200: #8391a0,
  300: #516579,
  400: #2c445d,
  500: #072340,
  600: #061f3a,
  700: #051a32,
  800: #04152a,
  900: #020c1c,
  A100: #5a83ff,
  A200: #275dff,
  A400: #003df3,
  A700: #0036da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$stash-away-accent: (
  50: #e8f6f6,
  100: #c5e9e8,
  200: #9fdbd9,
  300: #79ccc9,
  400: #5cc1be,
  500: #3fb6b2,
  600: #39afab,
  700: #31a6a2,
  800: #299e99,
  900: #1b8e8a,
  A100: #c7fffd,
  A200: #94fffa,
  A400: #61fff8,
  A700: #47fff7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stash-away-app-primary: mat-palette($stash-away-primary);
$stash-away-app-accent: mat-palette($stash-away-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$stash-away-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$stash-away-app-theme: mat-light-theme(
  $stash-away-app-primary,
  $stash-away-app-accent,
  $stash-away-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stash-away-app-theme);
